name: Kani CI
on:
  push:
  pull_request:
    # Run on merged pull requests
    types: [ closed ]
  workflow_dispatch:
jobs:
  run-kani:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout your code.'
        uses: actions/checkout@v4
      
      - uses: Swatinem/rust-cache@v2

      - name: Kani Rust Verifier
        uses: model-checking/kani-github-action@v1